.test-output {
    background-color: rgba(#fff, 20%);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    padding: 2em;
    color: black;


    &__header {
        font-size: 1.2em;
        margin: 0 0 1em 0;
        text-align: center;
    }

    div:not([class]) {
        margin-bottom: 1em;
        background-color: rgba(#fff, 0.2);
        padding: 1em;
        border-radius: 1em;
        // color: #000;

        span {
            // display: block;
            // margin-top: 1em;
            font-size: 0.9em;
        }
    }

    .emo {
        font-size: 2em;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-top: -0.2em;
    }
}

/////////////////////////////////////////////////////////////
///
/////////////////////////////////////////////////////////////
.api-data {
    display: none;

    .has-event & {
        display: inherit;
    }
}

.api-no-data {
    display: inherit;

    .has-event & {
        display: none;
    }
}
