.aside {
    text-align: center;
    position: relative;

    // &__gsap-frames {
    //     position: relative;
    //     height: 360px;
    //     // background-color: gold;

    //     .gsap-frame {
    //         &--api,
    //         &--static {
    //             // background-color: darkorange;
    //             width: ($aside-width - $aside_sidepad * 2);
    //             left: 0;
    //             top: 0;
    //         }
    //     }
    // }

    &__title {
        //
    }

    img {
        max-width: 100%;
        height: auto;
    }

    &__logo {
        margin: 0 auto 24px;
    }

    /////////////////////////////////////////////////////////////////////////////////
    // Если НЕТ контента из API
    /////////////////////////////////////////////////////////////////////////////////
    ///

    &__cup {
       margin: 16px 0 0 0;

        canvas {
            $w: 110;
            width: $w*1px;
            height: calc($w*350/160*1px);
            // width: 80px;
            // height: 175px;
        }
    }

    &__promo {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        line-height: 1;

        border: 2px solid var(--emph);
        padding: 8px 2px 8px;
        border-radius: 6px;
        margin: 0 2px;

        span {
            font-size: 21px;
            color: var(--emph);
            display: block;
            margin-top: 2px;
        }
    }

    /////////////////////////////////////////////////////////////////////////////////
    // Если ЕСТЬ контент из API
    /////////////////////////////////////////////////////////////////////////////////

    &__champ {
        font-size: 12px;
        font-weight: 900;
        line-height: 15.6px;
        text-align: center;
        color: var(--emph);
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__datetime {
        font-size: 16.88px;
        font-weight: 400;
        line-height: 20.25px;
        text-align: center;
        margin-bottom: 24px;
        color: #fff;
    }

    &__teampic {
        margin-bottom: 24px;
    }

    &__teamname {
        font-size: 14px;
        font-weight: 900;
        line-height: 16.8px;
        text-align: center;
        color: var(--emph);
        text-transform: uppercase;
    }
}

.aside-quotes {
    .two-teams & {
        display: none;
    }

    $brad: 3px;
    display: inline-flex;
    color: var(--bgcolor);
    border-radius: $brad;
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 24px;

    &__item {
        padding: 2px 4px;
        position: relative;
        background-color: #fff;

        span {
            display: inline-block;
        }

        &::after {
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            content: "-";
            color: #fff;
            font-size: 12px;
        }

        &:nth-child(1) {
            border-radius: $brad 0 0 $brad;
            &::after {
                content: "1";
            }

            .i-aside-left & {
                background-color: var(--emph);
            }
        }

        &:nth-child(2) {
            border-left: 1px solid var(--lime);
            border-right: 1px solid var(--lime);
            &::after {
                content: "X";
            }
        }

        &:nth-child(3) {
            border-radius: 0 $brad $brad 0;
            &::after {
                content: "2";
            }

            .i-aside-right & {
                background-color: var(--emph);
            }
        }
    }
}
