// .header .offer-100__header,
// .header .offer-100 span,
// .aside__ball,
// .aside__teampic img,
// .top-banner__champ,
// .aside__promo
// // .large-header__top img,
// .gsapped {
//     visibility: hidden;
// }
